<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="practiceTestng">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Testngprac.practice1"/>
      <class name="Testngprac.practice2"/>
    </classes>
  </test> 
</suite> 


